<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= book.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= book.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= book.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= book.category_id %>
  </p>

</div>
