<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Method of payment:</strong>
    <%= order.method_of_payment %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Discount:</strong>
    <%= order.discount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping:</strong>
    <%= order.shipping_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= order.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Book:</strong>
    <%= order.book_id %>
  </p>

</div>
