<div class="flex flex-col">
  <h1><%= link_to "Autores", backoffice_authors_path %>
  <h1><%= link_to "Livros", backoffice_books_path %>
  <h1><%= link_to "Pedidos", backoffice_orders_path %>
  <h1><%= link_to "Fretes", backoffice_shippings_path %>
  <h1><%= link_to "Categorias", backoffice_categories_path %>
</div>